<h3 class="text-center">Admin Dashboard</h3>
<%= render 'admin/nav_links' %>

<div class="container my-4">
  <% @comments.each do |comment| %>
  <div class="card border-info my-5">
    <div class="card-header">
        <%= "#{comment.user.name} commented on #{comment.post.user.name}'s post" %>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= comment.post.body %></p>
        <footer class="blockquote-footer">
          <%= comment.body.to_plain_text %>
        </footer>
      </blockquote>
    </div>
  </div>
  <% end %>
</div>
